
<section>
    <p>
        QuakeScope es una innovadora propuesta desarrollada para
        el NASA International Space Apps Challenge en Barranquilla, 
        con un enfoque en la comprensión de los terremotos lunares 
        provocados por impactos de meteoritos en la superficie de 
        la Luna. Este proyecto explora los misterios sismológicos
        del satélite natural de la Tierra, analizando los patrones
        de actividad sísmica causados por colisiones cósmicas. A 
        través de un enfoque científico y tecnológico, QuakeScope 
        busca no solo descifrar estos eventos, sino también ofrecer 
        nuevas perspectivas para futuras misiones espaciales, 
        aportando al conocimiento sobre la estabilidad y seguridad de 
        los asentamientos lunares.
    </p>
</section>

<style>
p {
    line-height: 1.375;
    padding-top: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
    height: fit-content;
    --tw-text-opacity: 1;

}
</style>